<meta name='turbolinks-cache-control' content='no-cache'>
<% content_for :page_title do %>Find some Items<% end %>
<% content_for :page_description do %>Item index page<% end %>
<% content_for :content do %>
<meta name='turbolinks-cache-control' content='no-cache'>
<section class="section">
  <div class="container">
    <div class="columns" id="mail-app">
        <div class="column is-6 messages hero is-fullheight" id="message-feed">
            <% @message_groups.each_with_index do |message_group, group_index| %>
            <div class="inbox-messages" id="inbox-messages-<%= group_index %>">
                  <p class="title is-6">
                    Messages about <%= message_group[:item].title %>
                  </p>
                <% message_group[:messages].each_with_index do |message, msg_index| %>
                <div class="card msg-card" id="msg-card-<%= message.id %>">
                    <header class="card-header msg-header">
                        <p class="msg-from card-header-title">From: <%= message.from.username %></p>
                    </header>
                    <div class="card-content">
                        <p class="msg-from content"><small>To: <%= message.to.username %></small></p>
                        <% if message.created_at %>
                        <p class="msg-timestamp content"><small><%= message.created_at.strftime("%l:%M %p - %b %e %Y") %></small></p>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
        <div class="column is-6 message hero is-fullheight is-hidden" id="message-pane">
            <div class="box message-preview">
                <div class="top">
                    <div class="avatar">
                        <img id="from_avatar" src="https://placehold.it/128x128">
                    </div>
                    <div class="address">
                        <div class="name" id="from_username">John Smith</div>
                        <div class="email" id="from_email">someone@gmail.com</div>
                    </div>
                    <hr>
                    <div class="avatar">
                        <img id="to_avatar" src="https://placehold.it/128x128">
                    </div>
                    <div class="address">
                        <div class="name" id="to_username">John Smith</div>
                        <div class="email" id="to_email">someone@gmail.com</div>
                    </div>
                    <hr>
                    <div class="content">
                    </div>
                </div>
                  <div class="swiper" hidden id="message_swiper">
                      <div class="swiper-wrapper photos_preview">
                      </div>
                      <div class="swiper-pagination" id="message_swiper_pagination"></div>
                      <div class="swiper-button-prev"id="message_swiper_prev"></div>
                      <div class="swiper-button-next" id="message_swiper_next"></div>
                  </div>
                  <p class="control">
                    <a href="#" class="button is-primary" id="reply_button" hidden ><span class="icon is-small"><i class="fa fa-paper-plane"></i></span><span>Reply</span></a>
                  </p>
            </div>
        </div>
    </div>
  </div>
</section>
<script>
let swiper = new Swiper('#message_swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: false,

        // If we need pagination
        pagination: {
          el: '#message_swiper_pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '#message_swiper_next',
          prevEl: '#message_swiper_prev',
        },
        observer: true
      });
$(".card").click(function () {
  var id = $(this).attr('id').split('-')[2];
  $.ajax({
    type:"GET",
    url:window.Routes.message_path(id,{format: 'json'}),
    dataType:"json",
    success:function(result){
      console.log(result)
      $('#message-pane').removeClass('is-hidden');
      $(this).removeClass('active');
      $('#msg-card_' + id).addClass('active');
      $('#from_avatar').attr("src",result.from.avatar_url);
      $('#from_username').text(result.from.username);
      $('#from_email').text(result.from.email);
      $('#to_avatar').attr("src",result.to.avatar_url);
      $('#to_username').text(result.to.username);
      $('#to_email').text(result.to.email);
      $('#reply_button').attr("hidden",true);
      if (result.to.to_id == parseInt('<%= current_user.id %>')) {
         $('#reply_button').removeAttr('hidden');
         $('#reply_button').attr("href", window.Routes.new_message_path({from_id:'<%= current_user.id %>',to_id:result.from.from_id,item_id:result.item.item_id}));
      }
      $('.message .content').html(result.content);
      $('#message_swiper').attr("hidden",true);
      $('div.photos_preview').empty();
      for (const key in result.attachments) {
        $('#message_swiper').removeAttr('hidden');
        $($.parseHTML('<div>')).attr("class","swiper-slide image is-16by9").append($($.parseHTML('<img>')).attr('src', result.attachments[key]['url']).attr("class","img-fluid")).appendTo('div.photos_preview');
      }
    }
  })
});
</script>


<% end %>
<%= render template: "layouts/application" %>