<% content_for :page_title do %>Log in<% end %>
<% content_for :page_description do %>Welcome to the LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
    <h1 class="black">Welcome to the LionSale!</h1>
     <%= form_with url: login_path do |f| %>
     <div class="field w-25">
        <div class="control has-icons-left">
           <%= f.text_field :email, id: 'email', class:"input is-large", placeholder: "Your Email"%>
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
    </div>
    <div class="field w-25">
        <div class="control has-icons-left">
           <%= f.password_field :password, id: 'password', class:"input is-large", placeholder: "Your Password" %>
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </div>
    </div>


     <div class="field w-25">
        <div class="control">
           <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me, class:"checkbox"%>
              <span>Remember me on this computer</span>
          </span>
          <% end %>
        </div>
    </div>
    <% if false %>
    <% if @show_checkbox_recaptcha %>
        <%= recaptcha_tags %>
        
    <% else %>
        <%= recaptcha_v3(action: 'login', site_key: ENV['RECAPTCHA_SITE_KEY_V3']) %>
    <% end %>
    <% end %>
    <%= f.button :submit,id:"loginbutton", class: 'button is-block is-info is-large is-link ph4 mt2' do %>
     <span class="icon is-small"><i class="fa fa-sign-in"></i></span><span>Log In</span>
    <% end %>
    

      <div class="near-white mt2 f4">
        <p>Don't have an account? <%= link_to "Signup", signup_path, :class => "fw7 blue" %> </p>
        <p>Forgot Password？ <%= link_to "Reset Password", "#", :class => "fw7 blue" %> </p> 
      </div>
      <%= hidden_field_tag 'next', request.original_fullpath %>
    <% end %>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>