
<%= form_with(model: user,url: user_path(user), method: :patch, class: "black", HTML:{ enctype:"multipart/form-data" }) do |form| %>
    <!-- <div>
      <% if user.errors.any? %>
      <div id="error_explanation" class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</strong>
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div> -->
  <div class="field is-horizontal">
    <div class="field-label is-normal f6" style="flex-grow: 0.6">
      <%= form.label :email, "E-mail", class: "label tl" %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <%= form.text_field :email, class: "input", type:"email", value:user.email %>
        </div>
        <% if user.errors[:email].any? %>
        <div class="help is-danger">
          <ul>
            <% user.errors[:email].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal f6" style="flex-grow: 0.6">
      <%= form.label :username, "Username", class: "label tl" %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fa fa-id-card"></i>
          </span>
          <%= form.text_field :username, class: "input", value:user.username %>
        </div>
        <% if user.errors[:username].any? %>
        <div class="help is-danger">
          <ul>
            <% user.errors[:username].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal f6" style="flex-grow: 0.6">
      <%= form.label :address, "Address", class: "label tl" %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control has-icons-left">
          <span class="icon is-small is-left">
            <i class="fa fa-map-marker"></i>
          </span>
          <%= form.text_field :address, class: "input", value:user.address %>
        </div>
        <% if user.errors[:address].any? %>
        <div class="help is-danger">
          <ul>
            <% user.errors[:address].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal f6" style="flex-grow: 0.6">
      <%= form.label :avatar, "Avatar", class: "label tl" %>
    </div>
    <div class="field-body">
    <% if user.avatar.attached?  %>
        <figure class="image is-128x128 profile-img">
          <%= image_tag(user.avatar, class:"is-rounded profile-img",id:"avatar_preview") %>
        </figure>
    <% end %>
      <div class="file has-name">
        <label class="file-label">
          <%= form.file_field :avatar, direct_upload: true, class:"file-input" %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
          </span>
          <span class="file-name" id="filename">
            Choose a file…
          </span>
        </label>
        <% if user.errors[:avatar].any? %>
        <div class="help is-danger">
          <ul>
            <% user.errors[:avatar].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <figure class="image is-128x128 gallery">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" id="avatar_preview">
  </figure>
  <div class="field is-horizontal actions">
    <div class="field-label" style="flex-grow: 0.6">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.button :submit, class: 'button is-block is-primary is-large is-link ph4 mt2' do %>
            <span class="icon is-small"><i class="fa fa-edit"></i></span><span>Edit my Profile</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<script>
  var file = $("#user_avatar")[0];
  file.onchange = function () {
    console.log(file.files)
    if (file.files.length > 0) {
      $('#filename')[0].innerHTML = file.files[0].name;
    }
  };
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#avatar_preview').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }

  $("#user_avatar").change(function () {
      readURL(this);
  });
</script>

<% end %>
