<% content_for :page_title do %>Find some items<% end %>
<% content_for :page_description do %>Item index page<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
    <% if @category_list %>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
      <% @category_list.each do |cat| %>
        <% if cat.equal?(@category_list.last) %>
        <li><%= link_to cat.name, items_path(category_id:cat.id), class: "is-active" %></li>
        <% else %>
        <li><%= link_to cat.name, items_path(category_id:cat.id)%></li>
        <% end %>
      <% end %>
      </ul>
    </nav>
    <% end %>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
      <% @items.each_with_index do |item,index| %>
      <% if index%3==0 %>
      <div class="tile is-child">
        <%= render 'item_card', item:item,index:index,current_user:current_user %>
      <% end %>
      <% end %>
      </div>
      <div class="tile is-vertical is-parent">
      <% @items.each_with_index do |item,index| %>
      <% if index%3==1 %>
      <div class="tile is-child">
        <%= render 'item_card', item:item,index:index,current_user:current_user %>
      <% end %>
      <% end %>
      <% if @items.count%3 == 1%>
      <div class="tile is-child"><div class="card equal-height is-hidden"><footer class="card-footer"></footer></div></div>
      <script></script>
      <% end %>
      </div>
      <div class="tile is-vertical is-parent">
      <% @items.each_with_index do |item,index| %>
      <% if index%3==2 %>
      <div class="tile is-child">
        <%= render 'item_card', item:item,index:index,current_user:current_user %>
      <% end %>
      <% end %>
      <% if @items.count % 3 != 0%>
      <div class="tile is-child"><div class="card equal-height is-hidden"><footer class="card-footer"></footer></div></div>
      <script></script>
      <% end %>
      </div>     
    </div>
  </div>
</section>

<% end %>
<%= render template: "layouts/application" %>
