<% content_for :page_title do %>LionSale: <%= @item.title %><% end %>
<% content_for :page_description do %>LionSale: <%= @item.title %><% end %>
<% content_for :content do %>
<meta name='turbolinks-cache-control' content='no-cache'>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <% if @item.photos.attached? %>
          <div class="swiper" id="item_swiper">
            <div class="swiper-wrapper">
            <% @item.photos.each do |image| %>
            <div class="swiper-slide image is-16by9"><%= image_tag(image, class:"img-fluid") %></div>
            <% end %>
            </div>
            <div class="swiper-pagination" id="item_swiper_pagination"></div>
            <div class="swiper-button-prev"id="item_swiper_prev"></div>
            <div class="swiper-button-next" id="item_swiper_next"></div>
          </div>
        <script>
        var swiper = new Swiper('#item_swiper', {
          // Optional parameters
          direction: 'horizontal',
          loop: true,

          // If we need pagination
          pagination: {
            el: '#item_swiper_pagination',
          },

          // Navigation arrows
          navigation: {
            nextEl: '#item_swiper_next',
            prevEl: '#item_swiper_prev',
          },
        });
        </script>
      <% else %>
        <div class="image is-16by9">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </div>
      <% end %>
      </div>
      <div class="column">
        <p class="title is-2"><%= @item.title %></p>
        <dl class="lh-copy mt0">
          <dt class="f6 dark-gray">Sold by</dt>
          <dd class="f4 ml0">
            <%= link_to @item.seller.username, user_path(@item.seller), :class => "no-underline hover-underline"%>
          </dd>
          <dt class="f6 mt2 dark-gray">Description:</dt>
          <dd class="f4 ml0 black">
          <div class="description-text ck-content">
            <%= raw @item.description %>
          </div>
          </dd>
          <dt class="f6 mt2 dark-gray">Category:</dt>
          <dd class="f4 ml0">
            <%= link_to @item.category.name, items_path(category_id:@item.category), :class => "no-underline hover-underline"%>
          </dd>
          <dt class="f6 mt2 dark-gray">On shelf since:</dt>
          <dd class="f4 ml0 black">
            <%= @item.created_at.strftime("%l:%M %p - %b %e %Y")%>
          </dd>
          <dt class="f6 mt2 dark-gray">Status updated at:</dt>
          <dd class="f4 ml0 black">
            <%= @item.updated_at.strftime("%l:%M %p - %b %e %Y")%>
          </dd>
          <dt class="f6 mt2 dark-gray">Status:</dt>
          <dd class="f4 ml0 black">
          <%= render 'item_status', status:@item.status %>
          <% if @item.status == 0%>
          <strong><%= @item.stock %></strong> avaliable
          <% end %>
          </dd>
          <dt class="f5 mt2 dark-gray">Price:</dt>
          <dd class="f3 ml0 black">
            <p class="title is-2">$ <%= @item.price %></p>
          </dd>
        </dl>

        <div class="mt3">
          <% if logged_in? %>
          <% if current_user != @item.seller %>
          <div class="field is-grouped">
            <% if @item.status == 0 %>
            <p class="control">
            <%= link_to '<span class="icon is-small"><i class="fa fa-shopping-cart"></i></span><span>Request to Buy</span>'.html_safe, new_transaction_path(buyer_id:current_user.id,item_id:@item.id),class:"button is-warning"%>
            </p>
            <% end %>
            <p class="control">
            <%= link_to '<span class="icon is-small"><i class="fa fa-paper-plane"></i></span><span>Message Seller</span>'.html_safe, new_message_path(from_id:current_user.id,to_id:@item.seller.id,item_id:@item.id),class:"button is-primary"%>
            </p>
            <p class="control">
              <%= link_to '<span class="icon is-small"><i class="fa fa-heart"></i></span><span>Like</span>'.html_safe, "#",class:"button is-danger"%>
            </p>
          </div>
        <% else %>  
          <div class="field is-grouped">
            <p class="control">
            <%= link_to '<span class="icon is-small"><i class="fa fa-edit"></i></span><span>Edit this Item</span>'.html_safe, edit_item_path(@item), class:"button is-link" %>
            </p>
            <p class="control">
            <%= link_to '<span class="icon is-small"><i class="fa fa-paper-plane"></i></span><span>Related Message<s/span>'.html_safe, messages_path(item_id:@item.id),class:"button is-primary"%>
            </p>
            <% if @item.status == 0 or @item.status == 20 %>
            <p class="control">
            <%= button_to(item_path(@item), method: :delete, class:"button is-danger",data: {confirm: "Are you sure you want to close the selling of this item?" }) do %>
              <span class="icon is-small"><i class="fa fa-trash"></i></span><span>Close Selling</span>
            </p>
            <% end %>
          </div>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>


