<% content_for :page_title do %>My Transactions<% end %>
<% content_for :page_description do %><%= current_user.username %>'s Transactions<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
  <% if not @transactions_as_buyer.empty? %>
    <div class="mt2">
      <h2 class="pv2 f3 black">My Transactions as Buyer</h2>
      <table class="table is-fullwidth bg-white is-bordered br3 overflow-hidden f7">
        <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>Seller</th>
            <th>Expected Deal Time</th>
            <th>Real Deal Time</th>
            <th>Deal Address</th>
            <th>Deal Price</th>
            <th>Status</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <% @transactions_as_buyer.each_with_index do |transaction,index| %>
          <tr>
            <td><%= index+1 %></td>
            <td>
              <%= link_to transaction.item.title, item_path(transaction.item), :class => "no-underline hover-underline"%>
            </td>
            <td>
              <%= link_to transaction.seller.username, user_path(transaction.seller), :class => "no-underline hover-underline"%>
            </td>
            <td>
              <%= transaction.expected_deal_time %>
            </td>
            <td>
              <%= transaction.real_deal_time %>
            </td>
            <td>
              <%= transaction.deal_address %>
            </td>
            <td>
              <%= transaction.deal_price %>
            </td>
            <td>
              <%= render 'transaction_status', status:transaction.status %>
            </td>
            <td>
              <%= link_to 'Details', transaction, :class => "button is-primary" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
    <% if not @transactions_as_seller.empty? %>
    <div class="mt2">
      <h2 class="pv2 f3 black">My Transactions as Seller</h2>
      <table class="table is-fullwidth bg-white is-bordered br3 overflow-hidden f7">
        <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>Buyer</th>
            <th>Expected Deal Time</th>
            <th>Real Deal Time</th>
            <th>Deal Address</th>
            <th>Deal Price</th>
            <th>Status</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <% @transactions_as_seller.each_with_index do |transaction,index| %>
          <tr>
            <td><%= index+1 %></td>
            <td>
              <%= link_to transaction.item.title, item_path(transaction.item), :class => "no-underline hover-underline"%>
            </td>
            <td>
              <%= link_to transaction.buyer.username, user_path(transaction.buyer), :class => "no-underline hover-underline"%>
            </td>
            <td>
              <%= transaction.expected_deal_time %>
            </td>
            <td>
              <%= transaction.real_deal_time %>
            </td>
            <td>
              <%= transaction.deal_address %>
            </td>
            <td>
              <%= transaction.deal_price %>
            </td>
            <td>
              <%= render 'transaction_status', status:transaction.status %>
            </td>
            <td>
              <%= link_to 'Details', transaction, :class => "button is-primary" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>