<% content_for :page_title do %>Transaction of <%= @transaction.item.title %><% end %>
<% content_for :page_description do %>Details of the transaction of the <%= @transaction.item.title %>!<% end %>
<% content_for :content do %>
<meta name='turbolinks-cache-control' content='no-cache'>
<section class="section">
  <div class="container">
      <div class="columns">
      <div class="column is-6">
        <% if @transaction.item.photos.attached? %>
          <div class="swiper" id="item_swiper">
            <div class="swiper-wrapper">
            <% @transaction.item.photos.each do |image| %>
            <div class="swiper-slide image is-16by9"><%= image_tag(image, class:"img-fluid") %></div>
            <% end %>
            </div>
            <div class="swiper-pagination" id="item_swiper_pagination"></div>
            <div class="swiper-button-prev"id="item_swiper_prev"></div>
            <div class="swiper-button-next" id="item_swiper_next"></div>
          </div>
        <script>
        const swiper = new Swiper('#item_swiper', {
          // Optional parameters
          direction: 'horizontal',
          loop: true,

          // If we need pagination
          pagination: {
            el: '#item_swiper_pagination',
          },

          // Navigation arrows
          navigation: {
            nextEl: '#item_swiper_next',
            prevEl: '#item_swiper_prev',
          },
        });
        </script>
      <% else %>
        <div class="image is-16by9">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </div>
      <% end %>
      </div>
      <div class="column">
        <p class="title is-2">Transaction of <%= @transaction.item.title %></p>
        <dl class="lh-copy mt0">
          <dt class="f6 dark-gray">Item</dt>
          <dd class="f4 ml0">
            <%= link_to @transaction.item.title, item_path(@transaction.item), :class => "no-underline hover-underline"%>
          </dd>
          <dt class="f6 dark-gray">Sold by</dt>
          <dd class="f4 ml0">
            <%= link_to @transaction.seller.username, user_path(@transaction.seller), :class => "no-underline hover-underline"%>
          </dd>
          <% if @transaction.status == 0%>
          <dt class="f6 dark-gray">Deal Time</dt>
          <dd class="f4 ml0">
            <%= @transaction.real_deal_time.strftime("%l:%M %p - %b %e %Y")%>
          </dd>
          <% else %>
          <dt class="f6 dark-gray">Expected deal Time</dt>
          <dd class="f4 ml0">
            <%= @transaction.expected_deal_time.strftime("%l:%M %p - %b %e %Y")%>
          </dd>
          <% end %>
          <dt class="f6 mt2 dark-gray">Deal address</dt>
          <dd class="f4 ml0">
            <%= @transaction.deal_address %>
          </dd>
          <dt class="f6 mt2 dark-gray">Deal price: </dt>
          <dd class="f4 ml0 black">
            $ <%= @transaction.deal_price %>
          </dd>
          <dt class="f6 mt2 dark-gray">Status updated at: </dt>
          <dd class="f4 ml0 black">
            <%= @transaction.updated_at.strftime("%l:%M %p - %b %e %Y")%>
          </dd>
          <dt class="f6 mt2 dark-gray">Status</dt>
          <dd class="f4 ml0 black">
          <%= render 'transaction_status', status:@transaction.status %>
          </dd>
        </dl>

        <div class="mt3">
          <% if logged_in? %>
          <div class="field is-grouped">
            
            <% if @transaction.status == 110 and current_user == @transaction.seller %>
            <p class="control">
            <%= button_to(transaction_path(@transaction,status:120), method: :patch, class:"button is-primary",data: {confirm: "Are you sure you want to approve purchase reuqest?" }) do %>
              <span class="icon is-small"><i class="fa fa-check"></i></span><span>Approve purchase reuqest</span>
            <% end %>
            </p>
            <p class="control">
            <%= button_to(transaction_path(@transaction,status:122), method: :patch, class:"button is-danger",data: {confirm: "Are you sure you want to decline purchase reuqest?" }) do %>
              <span class="icon is-small"><i class="fa fa-times"></i></span><span>Decline purchase reuqest</span>
            <% end %>
            </p>
            <% end %>
            <% if @transaction.status == 110 and current_user == @transaction.buyer %>
            <p class="control">
            <%= button_to(transaction_path(@transaction,status:112), method: :patch, class:"button is-danger",data: {confirm: "Are you sure you want to cancel purchase reuqest?" }) do %>
              <span class="icon is-small"><i class="fa fa-times"></i></span><span>Cancel purchase reuqest</span>
            <% end %>
            </p>
            <% end %>
            <% if @transaction.status == 200 and current_user == @transaction.buyer %>
            <div class="well">
              <div>Rate the deal</div>
              <span id="star1" data-score="1" class="star fa fa-star-o" title="Very bad"></span>
              <span id="star2"  data-score="2" class="star fa fa-star-o" title="Not good"></span>
              <span id="star3" data-score="3" class="star fa fa-star-o" title="Just so so"></span>
              <span id="star4" data-score="4" class="star fa fa-star-o" title="Good"></span>
              <span id="star5" data-score="5" class="star fa fa-star-o" title="Perfect"></span>
              <span>/5</span>
          
              <script>
                  var myRate = 5;
          
                  $(function () {
                      $("span.star").click(function () {
                          myRate = $(this).attr("data-score");
                          setRate(myRate);
                      });
                      $("div.well").mouseleave(function () {
                          setRate(myRate);
                      });
                      $("#confirm_deal_buyer").click(function () {
                          $(this).addClass("is-disabled")
                          $.ajax({
                            url: window.Routes.transaction_path('<%= @transaction.id %>'),
                            type: 'PUT',
                            data: {
                              "buyer_rating": myRate,
                              "status":201
                            },
                            success: function(data) {
                              alert('Deal confirmed.');
                            }
                          });
                      });
                  });
                  
                  function setRate(score) {
                      $("span.star").each(function () {
                          var thisStar = $(this);
                          if (thisStar.attr("data-score")<=score) {
                              thisStar.removeClass("fa-star-o").addClass("fa-star");
                          } else {
                              thisStar.removeClass("fa-star").addClass("fa-star-o");
                          }
                      });
                      
                  }
                  function clearRate() {
                      $("span.star").each(function () {
                          var thisStar = $(this);
                          thisStar.removeClass("fa-star").addClass("fa-star-o");
                      });
                  }
                  
              </script>
            </div>
            <p class="control">
            <%= button_tag(id:"confirm_deal_buyer",class:"button is-primary",data: {confirm: "Are you sure you want to confirm the deal?" }) do %>
              <span class="icon is-small"><i class="fa fa-check"></i></span><span>Confirm Deal</span>
            <% end %>
            </p>
            <% if Time.now > @transaction.expected_deal_time %>
            <p class="control">
            <%= button_to(transaction_path(@transaction,status:213), method: :patch, class:"button is-danger",data: {confirm: "Are you sure you want to decline to confirm the deal?" }) do %>
              <span class="icon is-small"><i class="fa fa-times"></i></span><span>Decline to confirm deal</span>
            <% end %>
            </p>
            <% else %>
            <p class="control">
            <%= button_to(transaction_path(@transaction,status:212), method: :patch, class:"button is-danger",data: {confirm: "Are you sure you want to cancel the deal?" }) do %>
              <span class="icon is-small"><i class="fa fa-times"></i></span><span>Cancel deal</span>
            <% end %>
            </p>
            <% end %>
            <% end %>
            <% if @transaction.status == 210 and current_user == @transaction.seller %>
            <div class="well">
              <div>Rate the deal</div>
              <span id="star1" data-score="1" class="star fa fa-star-o" title="Very bad"></span>
              <span id="star2"  data-score="2" class="star fa fa-star-o" title="Not good"></span>
              <span id="star3" data-score="3" class="star fa fa-star-o" title="Just so so"></span>
              <span id="star4" data-score="4" class="star fa fa-star-o" title="Good"></span>
              <span id="star5" data-score="5" class="star fa fa-star-o" title="Perfect"></span>
              <span>/5</span>
          
              <script>
                  var myRate = 5;
          
                  $(function () {
                      $("span.star").click(function () {
                          myRate = $(this).attr("data-score");
                          setRate(myRate);
                      });
                      $("div.well").mouseleave(function () {
                          setRate(myRate);
                      });
                      $("#confirm_deal_seller").click(function () {
                          $(this).addClass("is-disabled")
                          $.ajax({
                            url: window.Routes.transaction_path('<%= @transaction.id %>'),
                            type: 'PUT',
                            data: {
                              "seller_rating": myRate,
                              "status":220
                            },
                            success: function(data) {
                              alert('Deal confirmed.');
                            }
                          });
                      });
                  });
                  
                  function setRate(score) {
                      $("span.star").each(function () {
                          var thisStar = $(this);
                          if (thisStar.attr("data-score")<=score) {
                              thisStar.removeClass("fa-star-o").addClass("fa-star");
                          } else {
                              thisStar.removeClass("fa-star").addClass("fa-star-o");
                          }
                      });
                      
                  }
                  function clearRate() {
                      $("span.star").each(function () {
                          var thisStar = $(this);
                          thisStar.removeClass("fa-star").addClass("fa-star-o");
                      });
                  }
                  
              </script>
            </div>
            <p class="control">
            <%= button_tag(id:"confirm_deal_seller",class:"button is-primary",data: {confirm: "Are you sure you want to confirm the deal?" }) do %>
              <span class="icon is-small"><i class="fa fa-check"></i></span><span>Confirm Deal</span>
            <% end %>
            </p>
            <% if Time.now > @transaction.expected_deal_time %>
            <p class="control">
            <%= button_to(transaction_path(@transaction,status:223), method: :patch, class:"button is-danger",data: {confirm: "Are you sure you want to decline to confirm the deal?" }) do %>
            <span class="icon is-small"><i class="fa fa-times"></i></span><span>Decline to confirm deal</span>
            <% end %>
            </p>
            <% else %>
            <p class="control">
            <%= button_to(transaction_path(@transaction,status:222), method: :patch, class:"button is-danger",data: {confirm: "Are you sure you want to cancel the deal?" }) do %>
              <span class="icon is-small"><i class="fa fa-times"></i></span><span>Cancel deal</span>
            <% end %>
            </p>
            <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>    
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>
