<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= yield :page_title %></title>
    <meta name="description" content="<%= yield :page_description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <style><%= yield :stylesheets %></style>
  </head>

<body class="has-navbar-fixed-top">
  <div class="bg bg-gradient "></div>
  <header>
    <nav id="topNav" class="navbar shadow-5 f5 is-fixed-top">
      <div class="navbar-brand">
        <%= link_to "LionSale", home_path, :class => "navbar-item" %>
        <a role="button" class="navbar-burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Home", home_path, :class => "navbar-item" %>
          <%= link_to "Items", items_path, :class => "navbar-item" %>
          <%= link_to "Categroies", categories_path, :class => "navbar-item" %>
          <%= link_to "About", about_path, :class => "navbar-item" %>
        </div>
        <div class="navbar-end">
          <% if @current_user %>
          <div id="nav-dropdown" class="navbar-item has-dropdown" id="account">
            <a class="navbar-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= @current_user.username %></a>
            <div class="navbar-dropdown is-right">
              <%= link_to "Profile", user_path(@current_user.id), :class => "navbar-item" %>
              <%= link_to "My Items", items_path(user:@current_user.id), :class => "navbar-item" %>
              <%= link_to "My Transactions", transactions_path, :class => "navbar-item" %>
              <%= link_to "My Mailbox", messages_path, :class => "navbar-item" %>
              <hr class="navbar-divider">
              <%= link_to "Sell an item", new_item_path, :class => "navbar-item" %>
              <%= link_to "Edit My Profile", edit_user_path(@current_user), :class => "navbar-item" %>
              <%= link_to "Logout", logout_path,method: :destroy, :class => "navbar-item" %>
            </div>
          </div>
          <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Signup", signup_path, :class => "button is-primary ph4" %>
              <%= link_to "Login", login_path(next:request.original_fullpath), :class => "button is-link is-outlined ph4" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <!-- Header End -->
  <script type="text/javascript">
    $(document).ready(function () {
      console.log('nav')
      // Check for click events on the navbar burger icon
      $(".navbar-burger").click(function () {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
      $("#nav-dropdown").click(function () {
        $("#nav-dropdown").toggleClass("is-active");
      });
    });
  </script>
  <% if !flash.empty? %>
  <main class="dark-gray mb4 relative">
    <ul class="notification is-info absolute right-0 z-9999 animated delay-6s fade-out f5 tc">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    </ul>
  </main>
  <% end %>
  <%= yield :content %>
  <footer class="bg-white black-70 pv2 pv3-l ph4 left-0 right-0 bottom-0">
    <p class="f7">Copyright &copy; 2021 LionSale Team. All Rights Reserved.</p>
  </footer>
  <script>
    function deleteEl(id) {
      var el = $('#'+id)[0]
      el.parentElement.removeChild(el)
    }
  </script>
</body>

</html>